 <header id="page-topbar">
     <div class="navbar-header">
         <div class="d-flex">
             <!-- LOGO -->
             <div class="navbar-brand-box">
                 <a href="index" class="logo logo-dark">
                     <span class="logo-sm">
                         <img src="assets/images/logo-sm.svg" alt="" height="24">
                     </span>
                     <span class="logo-lg">
                         <img src="assets/images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">Trading</span>
                     </span>
                 </a>

                 <a href="index" class="logo logo-light">
                     <span class="logo-sm">
                         <img src="assets/images/logo-sm.svg" alt="" height="24">
                     </span>
                     <span class="logo-lg">
                         <img src="assets/images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">Trading</span>
                     </span>
                 </a>
             </div>

             <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                 data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                 <i class="fa fa-fw fa-bars"></i>
             </button>
         </div>

         <div class="d-flex">

             <div class="dropdown d-none d-sm-inline-block">
                 <button type="button" class="btn header-item" id="mode-setting-btn">
                     <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                     <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                 </button>
             </div>

             <div class="dropdown d-inline-block">
                 <button type="button" class="btn header-item bg-soft-light border-start border-end"
                     id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">
                     <img class="rounded-circle header-profile-user user-profile-image"
                         src="assets/images/users/avatar-1.jpg" alt="Header Avatar" id="user_image">
                     <span class="d-none d-xl-inline-block ms-1 fw-medium setting_user_name" id="setting_user_name">Paul
                         K.</span>
                     <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                 </button>
                 <div class="dropdown-menu dropdown-menu-end">
                     <!-- item-->
                     <a class="dropdown-item" href="/logout"><i
                             class="mdi mdi-logout font-size-16 align-middle me-1"></i> Logout</a>
                 </div>
             </div>

         </div>
     </div>
 </header>
 <div class="topnav">
     <div class="container-fluid">
         <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

             <div class="collapse navbar-collapse" id="topnav-menu-content">
                 <ul class="navbar-nav">

                     <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle arrow-none" href="/" id="topnav-dashboard" role="button">
                             <i data-feather="home"></i><span data-key="t-dashboard"><%=translation.Dashboard%></span>
                         </a>
                     </li>
                 </ul>
             </div>
         </nav>
     </div>
 </div>
 <script>
     record = JSON.parse(localStorage.getItem("currentUser"));
     if (!record) {
         window.location = "/login";
     }

     userId = record.data.user._id;
     userEmail = record.data.user.email;
     image = record.data.user.image;
     name = record.data.user.name;
     userNotification = record.data.user.notification;
     document.getElementById('setting_user_name').innerHTML = record.data.user.name;
     var profile_img = image ? image : "default_image.jpg";
     document.getElementById('user_image').setAttribute('src', '/assets/images/profile_pictures/' +
         profile_img);
 </script>